 @using Microsoft.AspNetCore.Identity
@using Todo.Controllers
@using Todo.Data
@using Todo.Data.Entities
@using Todo.Services
@using Todo.Models.TodoItems
@using Todo.Views.TodoItem
@model Todo.Models.TodoLists.TodoListDetailViewmodel
@inject ApplicationDbContext dbContext

@{
    ViewData["Title"] = $"List: {Model.Title}";
}

<h2>@ViewData["Title"]</h2>

<div>
    <div class="col-md-6">
        <div class="form-group">

            <div class="checkbox">
                <label>
                    <input type="checkbox" id="hideDoneCheckbox" />Hide completed
                </label>
            </div>
            <a id="sortByRank" style="font-weight:bold">
                Sort by rank
            </a>
            <br/>
            <a id="sortByImportance">
                Sort by importance
            </a>
        </div>
        <ul class="list-group">
            @* If changing the sorting, update the javascript in the <script> block to represent what the default sort is on page load *@
            @foreach (var item in Model.Items.OrderBy(m => m.Rank))
            {
                string contextualClass;
                switch (item.Importance)
                {
                    case Importance.High:
                        contextualClass = "list-group-item-danger";
                        break;
                    case Importance.Low:
                        contextualClass = "list-group-item-info";
                        break;
                    default:
                        contextualClass = "";
                        break;
                }
                string rowName = "outstanding";
                @if (item.IsDone)
                {
                    rowName = "isdone";
                }

                @* data-importance and data-rank are used to store item properties for sorting 
                    data-email is used to lookup display name from gravatar asynchronously
                *@
                <li class="list-group-item @contextualClass" name=@rowName data-importance="@item.Importance" data-rank="@item.Rank" data-email="@item.ResponsibleParty.Email" data-itemId="@item.TodoItemId">

                    <div class="row">
                        <div class="col-md-8">
                            <button type="button" class="btn btn-default" aria-label="Move Rank Down" onclick="moveRankDown(event)">
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Move Rank Up" onclick="moveRankUp(event)">
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>

                            <a asp-action="Edit" asp-controller="TodoItem" asp-route-todoItemId="@item.TodoItemId">

                                @if (item.IsDone)
                                {
                                    <s>@item.Title</s>
                                }
                                else
                                {
                                    <text>@item.Title</text>
                                }
                            </a>
                        </div>

                        <div class="col-md-4 text-right">
                            <small>
                                @item.ResponsibleParty.UserName

                                <img src="https://www.gravatar.com/avatar/@Gravatar.GetHash(item.ResponsibleParty.Email)?s=30" />
                            </small>
                            <p/>
                        </div>
                    </div>

                </li>
            }
        </ul>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Create item</label> 
            <div class="form-group">
                <label asp-for="Title"></label>
                <input class="form-control" id="createItemTitle"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <button id="createButton" onclick="createItemClicked()">Create</button>
        </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    const hideDoneCheckbox = document.getElementById("hideDoneCheckbox")
    const sortByRank = document.getElementById("sortByRank")
    const sortByImportance = document.getElementById("sortByImportance")
    // Initial sorting is by rank.
    rankingButtonsEnabled(true);

    loadProfileNames();

    // Initial sort on page load is importance/ascending
    var sortedBy = "rank"
    var sortAscending = true;

    const collection = document.getElementsByName("isdone")

    hideDoneCheckbox.addEventListener('change', (event) => {
        const checked = event.target.checked
        const setTo = checked ? "none" : "block";
        for (let i = 0; i < collection.length; i++) {
            collection[i].style.display = setTo;
        }
    })

    sortByRank.addEventListener('click', (event) => {
        if (sortedBy == "rank") {
            sortAscending = !sortAscending;
        }
        else {
            sortedBy = "rank"
            sortAscending = true;
            emphasiseAnchor(sortByRank, true);
            emphasiseAnchor(sortByImportance, false);
        }
        sortItems(sortAscending, sortByRankComparitor);
        rankingButtonsEnabled(true);
    })

    sortByImportance.addEventListener('click', (event) => {
        if (sortedBy == "importance") {
            sortAscending = !sortAscending;
        }
        else {
            sortedBy = "importance"
            sortAscending = true;
            emphasiseAnchor(sortByRank, false);
            emphasiseAnchor(sortByImportance, true);
        }
        sortItems(sortAscending, sortByImportanceComparitor);
        rankingButtonsEnabled(false);
    })

    function loadProfileNames() {
        let ul = $(".list-group:first");

        $.each(ul.children("li"), function (_, element) {
            let paragraph = element.getElementsByTagName("p")
            let emailAddr = element.getAttribute("data-email");

            if (paragraph!=null && paragraph.length>0) {
                setProfileName(paragraph[0], emailAddr);
            }
        });
    }

    function setProfileName(element, emailAddress) {
        $.getJSON('@Url.Action("GetProfileName")', { emailAddress }, function (profileName) {
            element.innerText = profileName;
        });
    }

    function resort() {
        let comparitor = sortByRankComparitor;
        if (sortedBy == "importance") {
            comparitor = sortByImportanceComparitor;
        }
        sortItems(sortAscending, comparitor);
    }

    function sortItems(ascending, comparitor)  {
        let ul = $(".list-group:first");
        let arr = $.makeArray(ul.children("li"));

        arr.sort(comparitor);
        if (!ascending) {
            arr.reverse();
        }

        ul.empty();

        $.each(arr, function () {
            ul.append(this);
        });
    }

    function sortByRankComparitor(elementA, elementB) {
        let rankAStr = elementA.getAttribute("data-rank");
        let rankBStr = elementB.getAttribute("data-rank");
        if (rankBStr == null) {
            // B is the 'add new item' at the top of the list, it should come before A
            return 1; 
        }
        else if (rankAStr == null) {
            // A is the 'add new item' at the top of the list, it should come before B
            return -1;
        }
        let rankA = +rankAStr;
        let rankB = +rankBStr;

        if (rankA < rankB) return -1; // A comes before B
        if (rankA > rankB) return 1; // B comes before A

        return 0;
    }

    function sortByImportanceComparitor(elementA, elementB) {
        let importanceStringA = elementA.getAttribute("data-importance");
        let importanceStringB = elementB.getAttribute("data-importance");
        if (importanceStringB == null) {
            // B is the 'add new item' at the top of the list, it should come before A
            return 1;
        }
        else if (importanceStringA == null) {
            // A is the 'add new item' at the top of the list, it should come before B
            return -1;
        }

        let importanceA = importanceToInteger(importanceStringA);
        let importanceB = importanceToInteger(importanceStringB);

        if (importanceA < importanceB) return -1;  // A comes before B
        if (importanceA > importanceB) return 1; //  B comes before A

        return 0;
    }

    function importanceToInteger(importanceStr) {
        switch (importanceStr) {
            case "High": return 1;
            case "Medium": return 2;
            case "Low": return 3;
            // This ensures items that do not have a data-importance attribute are sorted first in the list, such as the 'Add New Item' link.
            default: return 0;
        }
    }

    function createItemClicked() {
        let titleElement = document.getElementById("createItemTitle")
        if (titleElement == null || titleElement.value == null) {
            return
        }

        let titleText = titleElement.value.trim();
        if (titleText.length == 0) {
            return
        }
        let ul = $(".list-group:first");

        let liElement = createNewListRow(titleText);
        if (sortedBy == "importance") {
            disableRankingButtonsInsideLI(liElement, false);
        }

        ul.append(liElement);

        let paragraph = liElement.getElementsByTagName("p");
        let anchor = liElement.getElementsByTagName("a");
        let emailAddr = liElement.getAttribute("data-email");

        titleElement.value = "";

        if (paragraph != null && paragraph.length > 0) {
            setProfileName(paragraph[0], emailAddr);
        }

        createItemAsync(@Model.TodoListId, titleText, "@Model.OwnerId", anchor[0], liElement);

        resort();
    }

    function createItemAsync(todoListId, title, responsiblePartyId, anchorElement, liElement) {
        $.post('@Url.Action("CreateItem")', { "listId":todoListId, title, responsiblePartyId}, function (item) {
            anchorElement.setAttribute("href", "/TodoItem/Edit?todoItemId=" + item.todoItemId);
            // Used when moving an item up/down a rank - item ids used to swap the rank in the backend
            liElement.setAttribute("data-itemId", item.todoItemId);
            // Used for sorting by rank
            liElement.setAttribute("data-rank", item.rank);
            resort();
        });

        resort();
    }

    function createNewListRow(titleText) {
        let liElement = document.createElement("li");
        let divElement = document.createElement("div");
        let subDivElement1 = document.createElement("div");
        let anchorElement = document.createElement("a");
        let subDivElement2 = document.createElement("div");
        let smallElement = document.createElement("small");
        let paragraphElement = document.createElement("p");
        let imageElement = document.createElement("img");
        let textElement = document.createElement("text");
        let buttonRankDownElement = document.createElement("button");
        let buttonRankUpElement = document.createElement("button");
        let buttonRankDownSpanElement = document.createElement("span");
        let buttonRankUpSpanElement = document.createElement("span");

        textElement.innerText = titleText;

        // Anchor element will need to have its href attribute set after this item is created in the database
        imageElement.setAttribute("src", "https://www.gravatar.com/avatar/@Gravatar.GetHash(@Model.OwnerEmail)?s=30");

        // During tests, a plus sign was causing issues inside an email address. Javascripts unescape is deprecated.
        let email = "@Model.OwnerEmail";
        let unescapedEmail = email.replace("&#x2B;", "+");
        smallElement.innerText = unescapedEmail;

        buttonRankDownSpanElement.setAttribute("class", "glyphicon glyphicon-chevron-up");
        buttonRankDownSpanElement.setAttribute("aria-hidden", "true");
        buttonRankUpSpanElement.setAttribute("class", "glyphicon glyphicon-chevron-down");
        buttonRankUpSpanElement.setAttribute("aria-hidden", "true");

        buttonRankDownElement.setAttribute("type", "button");
        buttonRankDownElement.setAttribute("class", "btn btn-default");
        buttonRankDownElement.setAttribute("aria-label", "Move Rank Down");
        buttonRankUpElement.setAttribute("type", "button");
        buttonRankUpElement.setAttribute("class", "btn btn-default");
        buttonRankUpElement.setAttribute("aria-label", "Move Rank Up");

        subDivElement1.setAttribute("class", "col-md-8");
        subDivElement2.setAttribute("class", "col-md-4 text-right");
        divElement.setAttribute("class", "row");

        liElement.setAttribute("class", "list-group-item");
        liElement.setAttribute("name", "outstanding");
        liElement.setAttribute("data-importance", "Medium");
        liElement.setAttribute("data-rank", "0");

        liElement.setAttribute("data-email", unescapedEmail);

        smallElement.append(imageElement);
        subDivElement2.append(smallElement);
        subDivElement2.append(paragraphElement);
        anchorElement.append(textElement);

        buttonRankDownElement.append(buttonRankDownSpanElement);
        buttonRankUpElement.append(buttonRankUpSpanElement);
        subDivElement1.append(buttonRankDownElement);
        subDivElement1.append(buttonRankUpElement);
        subDivElement1.append(anchorElement);
        divElement.append(subDivElement1);
        divElement.append(subDivElement2);
        liElement.append(divElement);

        buttonRankDownElement.addEventListener('click', moveRankDown);
        buttonRankUpElement.addEventListener('click', moveRankUp);

        return liElement;
    }

    function moveRankDown(event) {
        if (sortedBy != "rank") {
            return
        }
        let currentTarget = event.currentTarget
        if (currentTarget != null) {
            let containingListElement = currentTarget.parentElement.parentElement.parentElement;
            let siblingListElement = containingListElement.previousElementSibling
            if (siblingListElement != null) {
                moveRank(containingListElement, siblingListElement);
            }
        }
    }

    function moveRankUp(event) {
        if (sortedBy != "rank") {
            return
        }
        let currentTarget = event.currentTarget
        if (currentTarget != null) {
            let containingListElement = currentTarget.parentElement.parentElement.parentElement;
            let siblingListElement = containingListElement.nextElementSibling;
            if (siblingListElement != null) {
                moveRank(containingListElement, siblingListElement);
            }
        }
    }

    function moveRank(targetListElement, siblingListElement) {
        let itemId = targetListElement.getAttribute("data-itemid");
        if (itemId == null) {
            return;
        }
        let itemRank = targetListElement.getAttribute("data-rank");
        if (siblingListElement != null) {
            let siblingId = siblingListElement.getAttribute("data-itemId");
            if (siblingId == null) {
                return
            }
            let swapWithRank = siblingListElement.getAttribute("data-rank");

            targetListElement.setAttribute("data-rank", swapWithRank);
            siblingListElement.setAttribute("data-rank", itemRank);

            swapItemRanksAsync(itemId, siblingId);

            resort();
        }
    }

    function rankingButtonsEnabled(visible) {
        let ul = $(".list-group:first");

        $.each(ul.children("li"), function (_, liElement) {
            disableRankingButtonsInsideLI(liElement, visible);
        });
    }

    function disableRankingButtonsInsideLI(liElement, visible) {
        let opacity = 0.2;
        if (visible) {
            opacity = 1.0;
        }

        let buttonElements = liElement.getElementsByTagName("button");
        $.each(buttonElements, function (_, buttonElement) {
            buttonElement.disabled = !visible;
            buttonElement.style.opacity = opacity;
        });
    }

    function swapItemRanksAsync(item1Id, item2Id) {
        $.post('@Url.Action("SwapItemRanks")', { item1Id, item2Id });
    }

    function emphasiseAnchor(anchorElement, emphasise) {
        if (emphasise) {
            anchorElement.setAttribute("style", "font-weight:bold");
        }
        else {
            anchorElement.setAttribute("style", "");
        }
    }

</script>